/* Estilos Globales */

html,
body {
  height: 100%;
  width: 100%;
}
.vertical-line {
    border-right: thick solid #7fbbda;
	color: #ffffff;
}
.center-y {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;  
}

.center-y h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
  color: #ffffff;  
}

/* Menú Superior */

.navbar-static-top {
  margin-bottom: 0;
}
.customized-navbar-brand{
  padding: 5px 5px 5px 5px;
}

.img-menu{
  height: 40px;
  width: 55px;
}

.img-sistedes-logo-menu{
  height: 40px;
  width: 130px;
  padding-left: 1em;
}


/* Área inicial con título de la página y botones */

.header {
  padding: 50px 0;
  display: table;
  height: 85%;
  width: 100%;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-title{
  font-size: 100%;
}

.bottom-buttons{
  width: 100%;
  padding-top: 10%;
}

/* Botones de las jornadas */

.btn-jisbd-title{
  width: 80%;
  border: none;
  background-color: #084B8A;
  color: #000000;
}

.btn-prole-title{
  width: 80%;
  border: none;
  color: #000000;
  background-color: #F5A9A9;
}

.btn-jcis-title{
  width: 80%;
  border: none;
  color: #000000;
  background-color: #A9E2F3;
}

/* Pie de página del Index con fecha y lugar del evento */

.bottom-date{
  height: 15%;
  width: 100%;
  position: relative;
  top: 0;
  background-color: #084B8A;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-bottom-date{
  padding-top: 1em;
  font: arial;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  
}

/* Secciones */

.seccion{
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 50px 0;
  margin: 0 auto;
}




.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background: url(../img/bg.jpg) no-repeat center center scroll; 
  }
  .countdown-anim { /* Hide countdown */
    display: none;
  }
  .index-title{
    font-size: 70%;
  }
  .map {
	height: 75%;
  }
}
